<aside id="sidebar" class="sidebar">
	<div class="sidebar-inside">
		<button id="hide-sidebar" class="toggle-sidebar"><span class="screen-reader-text">Close</span><span aria-hidden="true" class="icon-plus"></span></button>
		<div class="widget-area">

			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}

			<section class="widget widget-text">
				<h2 class="widget-title">About {{@blog.title}}</h2>
				<p>Sometimes, between juggling projects, serving our cat overlords, and taking long strolls in bear country, we read. And when we do, we find it worth our while to think about what we just ingested.
        </p>
        <p> Putting into words what made our hearts sing or eyes roll forces us to learn about the craft of storytelling. And gets stuff out of our heads, and into yours. Enjoy!</p>
			</section><!-- .widget -->

			{{#if @labs.subscribers}}
			<section class="widget widget-newsletter">
				<h2 class="widget-title">{{@blog.title}} Newsletter</h2>
				<p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
				{{subscribe_form form_class="gh-subscribe-form" input_class="gh-subscribe-field" button_class="gh-subscribe-submit" placeholder="Your email address"}}
			</section><!-- .widget -->
			{{/if}}

		</div><!-- .widget-area -->
	</div><!-- .sidebar-inside -->
</aside><!-- .sidebar -->
